* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', 'Onest', sans-serif;
}

body {
  line-height: 1;
  color: var(--theme-primary-text);
}

ol,
ul {
  list-style: none;
}

a {
  color: var(--theme-primary-text);
  text-decoration: none;
}

.main {
	color: tomato;
}